# VSCode cfg
.vscode/

# NodeJS runtime
node_modules/

# compiled .js files of backend
backend/dist

# folder with SSL files
backend/ssl

# compiled .js files of frontend
frontend/temp-build/**/*.js

# bundled (webpack) and vendor .js files of frontend
frontend/static/**/*.js
frontend/static/**/vendor.css

# other
*.bat
*.exe
log.txt