# VSCode cfg
.vscode/

# NodeJS runtime
node_modules/

# compiled .js files of backend
dist

# folder with SSL files
config/ssl

# config files
config/server.conf

# data files
data/

# other
*.bat
*.sh
*.exe
log.txt