/* для модального окна */
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(102, 102, 102, 0.5);
    z-index: 99999;
    display: none;
}

.modalDialog h2 {
    margin-top: 15px;
    margin-bottom: -15px;
}

.modalDialog h3 {
    margin-top: 15px;
    margin-bottom: -15px;
}

.modalDialog h4 {
    margin-top: 15px;
    margin-bottom: -15px;
}

#modalOkno_intro {
    display: block;
}

.modalDialog div {
    width: 850px;
    position: relative;
    max-height: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    font-size: 22px;
    padding: 5px 25px 15px 25px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #fff;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    top: -10px;
    width: 27px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}