/* стили для комнат */
#inroomMenu {
    display: flex;
    justify-content: flex-start;
}

#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main section
{
    margin: 5px;
}
/* чат */
#chatSection {
    display: flex;
    flex-direction: column;
}
#chat {
    height: 200px;
    resize: vertical;
    font-size:14pt;
    line-height:1.8;
}
#messageText
{
    flex: 1 1 95%;
    resize: vertical;
}
#btn_sendMessage
{
    flex-grow: 1;
}

.videoLabel {
    position: absolute;
    right: 0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: lightgrey;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2vw;
    opacity: 85%;
    max-width: 95%;
    z-index: 1;
}

.videoItem {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    display: inline-flex;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid grey;
}
.videoContainer {
    width: 100%;
    position: relative;
}

/*
    изменим градиент затемнения и
    ускорим анимацию панели управления видео
*/
.plyr--video .plyr__controls
{
    --plyr-video-controls-background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.55) 30%, rgba(0, 0, 0, 0) 100%);
    padding-top: 15px;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

/* оформление для видео */
video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
